<!DOCTYPE html>
<html lang="en" ng-cloak>
<head>
  <meta charset="UTF-8">
  <title></title>
  <!-- system js module loader -->
  <script src="lib/system.js/dist/system.js"></script>
  <!-- system js configuration -->
  <script src="config.js"></script>

  <link rel="stylesheet" href="lib/angular/angular-csp.css">
  <link rel="stylesheet" href="lib/angular-material/angular-material.min.css">
  <link rel="stylesheet" href="src/style.css">

</head>
<body ng-controller="AppCtrl as ctrl" layout="column" layout-align="top center">
  <header layout="column" layout-align="top center">
    <md-toolbar class="md-toolbar-tools">
      <md-button aria-label="Back">
        back
      </md-button>
      <span class="md-flex uppercase">
        <a href="/">sudo su</a>
      </span>
    </md-toolbar>
  </header>
  <md-content layout="column" layout-align="center center">
    <h1>Login and play against your friend</h1>
    <form ng-submit="authenticate()" name="loginForm">
      <md-input-container>
        <label>E-Mail</label>
        <input ng-model="email" type="email" placeholder="E-Mail" required>
      </md-input-container>
      <md-input-container>
        <label>Password</label>
        <input name="password" type="password" ng-model="loginInfo.password" required />
        <div ng-messages="loginForm.password.$error" ng-if='loginForm.password.$dirty'>
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
      <md-button type="submit" class="md-primary">Login</md-button>
    </form>
  </md-content>

  <!-- load our app -->
  <script>System.import("src/main")</script>
</body>
</html>
