<div class="sudoku-grid">
    <div ng-repeat="blockrow in ctrl.rows">
        <div ng-repeat="block in blockrow">
            <div ng-repeat="row in block.rows">
                <div class="cell" ng-class="{'selected': ctrl.isSelected(cell) }" ng-click="ctrl.select(cell)" ng-repeat="cell in row" ng-focus="ctrl.onFocus(cell)">

                    {{cell.value}}

                    <!--
                    <svg>
                        <g transform="translate(1,3)" style="fill: lightblue">
                        <text y="8px" x="4px" style="font-size: 8px">0</text>
                        <text y="8px" x="12px" style="font-size: 8px">0</text>
                        <text y="8px" x="20px" style="font-size: 8px">0</text>
                        <text y="16px" x="4px" style="font-size: 8px">0</text>
                        <text y="16px" x="12px" style="font-size: 8px">0</text>
                        <text y="16px" x="20px" style="font-size: 8px">0</text>
                        <text y="24px" x="4px" style="font-size: 8px">0</text>
                        <text y="24px" x="12px" style="font-size: 8px">0</text>
                        <text y="24px" x="20px" style="font-size: 8px">0</text>
                        </g>
                        <text y="24px" x="9px" style="font-size: 24px">{{cell.value}}</text>
                    </svg>
                    -->
                </div>
            </div>
        </div>
    </div>
    <div class="controls">
        <div class="cell" ng-repeat="row in ctrl.rows" ng-click="ctrl.sel(row)">{{row.value}}</div>
    </div>
</div>
