@import 'includes/globals';

.uppercase {
    text-transform: uppercase;
}

md-toolbar {
    margin-bottom: 28px;

    &.home {
        background-color: $dark-blue;
    }

    &.page {
        background-color: $white;
        color: #000;

        .flex:not(.back):not(.close){
            text-align: center;
        }

        .close {
            text-align: right;
        }

        .md-button,
        md-icon {
            color: #000;
        }
    }
}

/*
.ng-enter, .ng-leave { width: 100%; position: absolute; }
.ng-enter {
    -webkit-animation: bounceInRight 1.0s both ease-in;
    -moz-animation: bounceInRight 1.0s both ease-in;
    animation: bounceInRight 1.0s both ease-in;
}
.ng-leave {
    -webkit-animation: bounceOutLeft 0.8s both ease-in;
    -moz-animation: bounceOutLeft 0.8s both ease-in;
    animation: bounceOutLeft 0.8s both ease-in;
}
*/
