/**
 * Fancy colors for sudo su
 */
body {
  background-color: #434e5a;
  position: relative; }

a {
  text-decoration: none; }

h1 {
  color: #ff4252; }

p {
  padding: 20px 0; }

md-content {
  padding: 20px; }

.uppercase {
  text-transform: uppercase; }

.md-primary a {
  color: #fff; }

header .md-toolbar-tools {
  background-color: #353044;
  color: #fff; }

.md-primary {
  height: 50px;
  margin: 10px;
  width: 90%; }
  @media (min-width: 600px) {
    .md-primary {
      width: 80%; } }

.app-content {
  padding: 10px 20px 20px 25px;
  width: 100%; }
  @media (min-width: 600px) {
    .app-content {
      width: 900px; } }

footer {
  background-color: #fff;
  bottom: 10px;
  position: absolute; }
  footer nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: space-between;
    -ms-flex-flow: space-between;
    flex-flow: space-between;
    width: 100vw; }
    footer nav a {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      padding: 10px; }

.ng-enter, .ng-leave {
  width: 100%;
  position: absolute; }

.ng-enter {
  -webkit-animation: bounceInRight 1s both ease-in;
  animation: bounceInRight 1s both ease-in; }

.ng-leave {
  -webkit-animation: bounceOutLeft 0.8s both ease-in;
  animation: bounceOutLeft 0.8s both ease-in; }
