@import 'includes/globals';

md-content {
    padding: 20px;
}

.uppercase {
    text-transform: uppercase;
}

.md-primary a {
    color: #fff;
}

header {
    .md-toolbar-tools {
        background-color: $blue;
        color: #fff;
    }
}

.md-primary {
    height: 50px;
    margin: 10px;
    width: 90%;

    @media (min-width: 600px) {
        width: 80%;
    }
}

.app-content {
    padding: 10px 20px 20px 25px;
    width: 100%;

    @media (min-width: 600px) {
        width: 900px;
    }
}

footer {
    background-color: #fff;
    bottom: 10px;
    position: absolute;

    nav {
        display: flex;
        flex-flow: space-between;
        width: 100vw;

        a {
            flex: 1;
            padding: 10px;
        }
    }
}

