<md-toolbar class="page" layout="column">
    <div class="md-toolbar-tools">
        <md-button class="md-button" ui-sref="home">
            <md-icon md-font-icon="material-icons">chevron_left</md-icon>
            <span class="md-raised">Back</span>
        </md-button>
    </div>
</md-toolbar>

<div layout="column" layout-align="center">

    <md-input-container>
        <label>E-Mail</label>
        <input ng-model="user.username" type="email">
    </md-input-container>
    <md-input-container>
        <label>Password</label>
        <input ng-model="user.password" type="password">
    </md-input-container>
    <md-button class="md-button" ui-sref="login">
        <span class="md-raised">Login</span>
    </md-button>
</div>

