@import 'globals';

body {
  background-color: $background;
}

main {
  margin: 10px;

  @media (min-width: 600px) {
    margin: 0 auto;
    width: 900px;
  }
}

h1 {
  color: $red;
}

header {

 .menu {
    background-color: $blue;
    color: #fff;
    padding: 10px;
  }
}

a {
  color: #fff;
  text-decoration: none;
}

.right {
  position: absolute;
  right: 0;
  top: 0;
}

.container .menu {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.button {
  background-color: $blue;
  border-radius: 5px;
  border: 1px solid $grey;
  color: #fff;
  display: block;
  margin: 10px;
  padding: 20px;
}
