@import 'globals';

body {
  background-color: $background;
}

main {
  margin: 10px;

  @media (min-width: 600px) {
    margin: 0 auto;
    width: 900px;
  }
}

h1 {
  color: $red;
}

p {
  padding: 20px;
}

header {
  .md-toolbar-tools {
    background-color: $blue;
    color: #fff;
  }
}

.app-content {
  padding: 10px 30px 20px 25px;
  width: 100%;

  md-card {
    background-color: #fff;
  }
}
